* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #222;
}

/* nav  */

nav {
	height: 70px;
	line-height: 70px;
	background-color: #293558;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.burger-icon {
	display: block;
	line-height: 70px;
	margin-left: auto;
	padding: 0 30px;
	font-size: 33px;
	background: none;
	border: none;
	cursor: pointer;
	color: #00c3ff;
}

.nav-items {
	display: none;
	font-size: 0;
}

/* header  */

.header {
	position: relative;
	height: 400px;
	background-image: url('../img/fortnite-4129124_640.jpg');
	background-size: cover;
	background-position: center;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(41, 53, 88, 0.4);
}

.hero-text {
	position: absolute;
    width: 85%;
	top: 50%;
	left: 50%;
    text-align: center;
	transform: translate(-50%, -50%);
}

.hero-text h1 {
	font-size: 34px;
	color: #ceecff;
	text-transform: uppercase;
	text-shadow: 0 0 5px #000000;
    letter-spacing: 2px;
}

.hero-text span {
	text-transform: capitalize;
	color: rgb(255, 0, 0);
}

.hero-text p {
	color: #e4e4e4;
	text-shadow: 0 0 5px #000000;
}

@media (min-width: 768px) {
	/* nav  */
	.nav-items {
		display: block;
	}

	.nav-items a {
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 10px;
		margin: 0 30px;
		font-size: 16px;
		color: #00c3ff;
		transition: color 0.3s;
	}

	.nav-items a:hover {
		color: rgb(255, 0, 60);
	}

	.burger-icon {
		display: none;
	}

	/* hedaer  */

    .header {
        background-image: url('../img/fortnite-4129124_1920.jpg');
    }

    .hero-text h1 {
        font-size: 55px;
    }
    .hero-text p {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    	/* hedaer  */
    
        .hero-text h1 {
            font-size: 66px;
        }
        .hero-text p {
            font-size: 26px;
        }
}